<h1 mat-dialog-title class="tittle">ADICIONAR TASK</h1>
<div mat-dialog-content class="container" [formGroup]="mainForm">
  
  <mat-label class="Name">Task Name</mat-label>
  <input matInput #name formControlName="name" id="Name">

  <mat-label class="Name">Task Description</mat-label>
  <input matInput type="text" #description formControlName="description" id="description">

  <mat-label class="Name">text</mat-label>
  <input matInput type="number" #durationTime formControlName="durationTime" id="durationTime">
  
</div>
<div mat-dialog-actions class="buttonContainer">
  <button mat-button cdkFocusInitial class="button" (click)="onNoClick()">Cancel</button>
  <button mat-button [ngClass]="{ 'disabled-style': !this.mainForm.valid }" [disabled]="!this.mainForm.valid" cdkFocusInitial class="buttonSubmit" (click)="submitRegister()">Submit</button>
</div>