* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS';
}

.content {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.top {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin: 0 !important;
        font-size: 2rem;
        font-weight: bold;
    }

    .Btns_in_up{
        display: flex;
        float: right;
        font-family:'Trebuchet MS';
        gap: 1rem;
        button{
            background-color: #000000;
            border-radius: 5px;
            border: none;
            height: 3em;
            width: 9em;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            
        }
    }
}

.infos {
    width: 100%;
    flex-direction: row;
    display: flex;
    gap:2rem;
    .infos-container {
        width: 50%;

        .container {
            gap:1rem;
            display: flex;
        }
    }
    .img {
        width: 50%;
        height: 400px;
    }
}

@media only screen and (max-width: 1500px) {
    .infos {
        flex-direction: column;
        .infos-container {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .top {
        align-items: start;
        flex-direction: column;
        gap: 1rem;
        margin-top: .7rem;
    }

    .container {
        flex-direction: column;
    }

    .infos-container {
        width: auto;
    }

    .img {
        width: 100% !important;
        max-width: 350px !important;
    }
}