.chart-container {
    width: 80vw;
    height: 80vh;
}

@media only screen and (max-width: 767px) {
    .chart-container {
        display: flex;
        align-items: center;
        width: 80vw;
        height: 80vh;
    }

    #myChart{
        width: 80vw;
        height: 80vh;
    }
}