<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open' : sideNavStatus}">
        <a class="nav-list-item" href="#">
            <mat-icon>home</mat-icon>
            <span>
               Home
            </span>
        </a>
        <a class="nav-list-item" href="initial-page">
            <mat-icon>person</mat-icon>
            <span>
                my projects
            </span>
        </a>
        <a class="nav-list-item" href="initial-page">
            <mat-icon>group</mat-icon>
            <span>
                my team projects
            </span>
        </a>
    </ul>
</div>