<nav>
    <div class="buttonTop">
        <button (click)="openDialog()"><a>Adicionar Projeto</a></button>
    </div>
    <div class="itensRows">
        <div class="rows">
            <p class="title">Seus projetos</p>
            <div class="rowContent">
                <ng-container *ngIf="(queryCommandProjects | async)?.length !== 0">
                    <div class="itemContainer" *ngFor="let proj of queryCommandProjects | async" (click)="GoToProject(proj.project.id)">
                        <div class="imgItem">
                            <img src="{{proj.project.urlImage}}">
                        </div>
                        <p>{{proj.project.name}}</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="(queryCommandProjects | async)?.length === 0">
                    <div class="itemContainer" (click)="openDialog()">
                        <div class="imgItem">
                            <img src="https://media.istockphoto.com/id/688550958/pt/vetorial/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=3pivfI1RA8Z1TfEeDC7puMSh5ow5J5bW8XiIDfJMKIw=">
                        </div>
                        <p>Adicionar projeto</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="rows">
            <p class="title">Seus projetos em time</p>
            <div class="rowContent" *ngIf="(queryCommandTeamProjects | async)?.length !== 0">

                <div class="itemContainer" *ngFor="let proj of queryCommandTeamProjects | async"(click)="GoToProject(proj.project.id)">
                    <div class="imgItem">
                        <img src="{{proj.project.urlImage}}">
                    </div>
                    <p>{{proj.project.name}}</p>
                </div>
            </div>
            <ng-container *ngIf="(queryCommandTeamProjects | async)?.length === 0">
                <p>PARECE QUE VOCE NÃO TEM AMIGOS :,(</p>
            </ng-container>
        </div>
    </div>
</nav>