.buttonTop{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.itensRows{
    display: flex;
    flex-direction: column;
}

.rows{
    display: flex;
    flex-direction: column;
}