<nav>
    <div class="buttonTop">
        <button><a>Adicinar Projeto</a></button>
    </div>
    <div class="itensRows">
        <div class="rows">
            <p class="title">Seus projetos</p>
            <div class="rowContent">
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto a</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto b</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto c</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto d</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto e</p>
                </div>
            </div>
        </div>
        <div class="rows">
            <p class="title">Seus favoritos</p>
            <div class="rowContent">
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto a</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto b</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto c</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto d</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto e</p>
                </div>
            </div>
        </div>
        <div class="rows">
            <p class="title">Seus projetos em time</p>
            <div class="rowContent">
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto a</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto b</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto c</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto d</p>
                </div>
                <div class="itemContainer">
                    <div class="imgItem">
    
                    </div>
                    <p>projeto e</p>
                </div>
            </div>
        </div>
    </div>
</nav>