<h1 mat-dialog-title class="tittle">REGISTER</h1>
<div mat-dialog-content class="container">
  
    <mat-label class="Email">Email</mat-label>
    <input matInput id="Email">
  
    <mat-label class="Password">Password</mat-label>
    <input matInput id="Password">
 
    <mat-label class="RepeatPassword">Repeat Password</mat-label>
    <input matInput id="RepeatPassword">
  
</div>
<div mat-dialog-actions class="buttonContainer">
  <button mat-button cdkFocusInitial class="button">Submit</button>
</div>