*{
    padding: 0;
    margin: 0;
}
body {
    font-family: montserrat;
}
.display-area{
    background-color: #fff;
    height: calc(100vh - 4rem);
    overflow:auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
