.container{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

.Email{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.Password{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2em;
}


.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.Login-singUp{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1em;
    margin-left: 2em;
    color: rgb(0, 0, 0);
        .link_up{  
            border: 0;
            margin-left: 5px;
            background-color: rgb(255, 255, 255);
            color:rgb(126, 126, 126);
        }
}

.button{
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.ForgotPassword{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding-top: 2em;
    padding-bottom: 2em;

}

.disabled-style {
    opacity: 0.1;
    background-color: rgb(126, 126, 126);
    cursor: not-allowed;
}