<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;" *ngIf="path !== 'http://localhost:4200/'"></app-header>

  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}" *ngIf="path !== 'http://localhost:4200/'"></app-side-nav>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}"  *ngIf="path !== 'http://localhost:4200/'">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div *ngIf="path === 'http://localhost:4200/'">
    <router-outlet></router-outlet>
  </div>
</div>