<nav>
    <div class="itensRows">
        <div class="rows">
            <p class="title">{{(queryCommandProject | async)?.name}}</p>
        </div>
        <div class="buttonTop">
            <mat-form-field class="selector">
                <mat-label>Selecione a sprint</mat-label>
                <mat-select [(ngModel)]="selectedOption" (selectionChange)="onOptionSelected($event.value)">
                    <ng-container *ngIf="(queryCommandSprint | async)?.length !== 0">
                      <mat-option *ngFor="let sprint of queryCommandSprint | async" [value]="sprint.id">{{sprint.name}}</mat-option>
                    </ng-container>
                    <mat-option (click)="openDialogSprint()">Adicionar Sprint</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="openDialogStory()" *ngIf="sprintId !== undefined"><a>Adicionar Story</a></button>
            <button (click)="openDialogColaborador()" *ngIf="sprintId !== undefined"><a>Adicionar Membro</a></button>
        </div>
    </div>
    <div class="content" *ngFor="let story of queryCommandStory | async">
        <app-story-list [Entity]="story"></app-story-list>
    </div>
</nav>