.buttonTop {
    display: flex;
    flex-direction: row;
    justify-content: end;

    button {
      background-color: #404040;
      border-radius: 5px;
      border: none;
      height: 4em;
      width: 9em;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 4em;
      margin-left: 1em;
    }

    .selector {
      height: 5em;
    }
}

.itensRows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rows {
    display: flex;
    flex-direction: column;
    margin-right: 4em;
    margin-left: 4em;

    .title {
        font-weight: bold;
        font-size: 1.5em;
        color: black;
    }
}

.rowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    p {
        font-weight: 510;
        text-align: center;
        margin-top: 20px;
        color: black;
    }
}

.content {
    margin-bottom: 5px;
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    flex-direction: column;

    .panel {
      width: 100%;
      background-color: #f8f9fa;
    }

    .panel:nth-child(n + 2) {
      margin-top: 10px;
    }
}

.example-container {
    width: 30%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}
  
  