<nav>
    <div class="itensRows">
        <div class="rows">
            <p class="title">{{(queryCommandProject | async)?.name}}</p>
        </div>
        <div class="buttonTop">
            <mat-form-field class="selector">
                <mat-label>Selecione a sprint</mat-label>
                <mat-select value="1" (selectionChange)="onOptionSelected($event.value)">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2" (click)="openDialogSprint()">Adicionar Sprint</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="openDialogStory()"><a>Adiocinar Story</a></button>
        </div>
    </div>
    <div class="content">
        <app-story-list></app-story-list>
    </div>
</nav>